h2{
  color:brown;
}
h1{
    color:brown;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    text-decoration: none;
    color: brown;
  }
 
  .menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
  }
  table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    max-width:100%;
    white-space:nowrap;
  }
  
  th, td {
    padding: 15px;
  }
  .tester td input{
    font-style: italic;
    border: none;
    color: darkblue;
    width: 80px;
  }
  .min{
    font-style: bold;
    color: brown;
  }
  input.add{
    background-color: green;
    color: black;
  }
  .remove{
    background-color: red;
    color: black;
  }
  .row-data td input{
    color:black;
        border: none;   
        width: 80px;  
  }
td {
    column-width: 1rem;
  }
  .add{
    color: white;
    background-color: green;
  }
 
  .row-data td input.name,.tester td input.name{
    color:black;
    width: 250px;
  }

  